<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Transaction History</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount (KES)</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transaction %}
                    <tr>
                        <td>{{ transaction.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="actions">
          <a href="{{ url_for('download_transaction_history') }}" class="btn">Download Transaction History</a>
            <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
        </div>
    </div>
</body>
</html>